<!-- <nb-card>
  <nb-card-header>Restaurantes com Alimentos Disponíveis</nb-card-header>
  <nb-card-body>
    asdasudhasuduashuasdsa
  </nb-card-body>
</nb-card> -->

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <h5 class="grid-h">Restaurantes com Alimentos Disponíveis</h5>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th> Nome do Restaurante</th>
                <!-- <th> Endereço <small>(como chegar?)</small></th> -->
                <th> Tipo de Alimento</th>
                <th> Descrição</th>
                <th> Qtd. Aproximada</th>
                <th> Limite para Retirada</th>
                <th style="text-align: center;"> Aceitar</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-nowrap" scope="row">Restaurante do Guedes</td>
                    <!-- <td class="text-nowrap" scope="row">mock1</td> -->
                    <td class="text-nowrap" scope="row">Arroz</td>
                    <td class="text-nowrap" scope="row">Integral</td>
                    <td class="text-nowrap" scope="row">3 kg</td> <!-- TODO: concatenar qtd e unidade -->
                    <td class="text-nowrap" scope="row">04/11/2018 16:00</td>
                    <td class="text-nowrap" scope="row" style="text-align: center;">
                      <button type="button" class="btn btn-success">Quero!</button>
                    </td>
                </tr>
        
                <tr>
                    <td class="text-nowrap" scope="row">mock2</td>
                    <!-- <td class="text-nowrap" scope="row">mock2</td> -->
                    <td class="text-nowrap" scope="row">mock2</td>
                    <td class="text-nowrap" scope="row">mock2</td>
                    <td class="text-nowrap" scope="row">mock2</td>
                    <td class="text-nowrap" scope="row">mock2</td>
                    <td class="text-nowrap" scope="row" style="text-align: center;">
                      <button type="button" class="btn btn-success">Quero!</button>
                    </td>
                </tr>
        
                <tr>
                    <td class="text-nowrap" scope="row">mock3</td>
                    <!-- <td class="text-nowrap" scope="row">mock3</td> -->
                    <td class="text-nowrap" scope="row">mock3</td>
                    <td class="text-nowrap" scope="row">mock3</td>
                    <td class="text-nowrap" scope="row">mock3</td>
                    <td class="text-nowrap" scope="row">mock3</td>
                    <td class="text-nowrap" scope="row" style="text-align: center;">
                      <button type="button" class="btn btn-success">Quero!</button>
                    </td>
                </tr>
        
                <tr>
                    <td class="text-nowrap" scope="row">mock4</td>
                    <!-- <td class="text-nowrap" scope="row">mock4</td> -->
                    <td class="text-nowrap" scope="row">mock4</td>
                    <td class="text-nowrap" scope="row">mock4</td>
                    <td class="text-nowrap" scope="row">mock4</td>
                    <td class="text-nowrap" scope="row">mock4</td>
                    <td class="text-nowrap" scope="row" style="text-align: center;">
                      <button type="button" class="btn btn-success">Quero!</button>
                    </td>
                </tr>
        
                <tr>
                    <td class="text-nowrap" scope="row">mock5</td>
                    <!-- <td class="text-nowrap" scope="row">mock5</td> -->
                    <td class="text-nowrap" scope="row">mock5</td>
                    <td class="text-nowrap" scope="row">mock5</td>
                    <td class="text-nowrap" scope="row">mock5</td>
                    <td class="text-nowrap" scope="row">mock5</td>
                    <td class="text-nowrap" scope="row" style="text-align: center;">
                      <button type="button" class="btn btn-success">Quero!</button>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
