<!-- <nb-card>
    <nb-card-header>Resgatar Alimento</nb-card-header>
    <nb-card-body>
      <div>test 1</div>
      <div>test 2</div>
    </nb-card-body>
</nb-card> -->

<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <h5 class="grid-h">Resgatar Alimento</h5>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th> Nome do Restaurante</th>
                  <th> Endereço <small>(como chegar?)</small></th>
                  <th> Tipo de Alimento</th>
                  <th> Descrição</th>
                  <th> Qtd. Aproximada</th>
                  <th> Limite para Retirada</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td rowspan="2" class="text-nowrap" scope="row">Bar do Juca</td>
                      <td rowspan="2" class="text-nowrap" scope="row">Av. Rui Barbosa, 118</td>
                      <td class="text-nowrap" scope="row">Arroz</td>
                      <td class="text-nowrap" scope="row">Arroz branco tipo I</td>
                      <td class="text-nowrap" scope="row">3kg</td>
                      <td class="text-nowrap" scope="row">18:30</td>
                  </tr>
                  <tr>
                      <td class="text-nowrap" scope="row">Salada</td>
                      <td class="text-nowrap" scope="row">Salada de verduras</td>
                      <td class="text-nowrap" scope="row">500g</td>
                      <td class="text-nowrap" scope="row">18:30</td>
                  </tr>

                  <tr>
                      <td rowspan="2" class="text-nowrap" scope="row">Restaurante Franciscano</td>
                      <td rowspan="2" class="text-nowrap" scope="row">Av. das Américas</td>
                      <td class="text-nowrap" scope="row">Filé de Frango</td>
                      <td class="text-nowrap" scope="row">Filé de Frango Grelhado</td>
                      <td class="text-nowrap" scope="row">5kg</td>
                      <td class="text-nowrap" scope="row">22:30</td>
                  </tr>
                  <tr>
                      <td class="text-nowrap" scope="row">Feijão</td>
                      <td class="text-nowrap" scope="row">Feijoada</td>
                      <td class="text-nowrap" scope="row">3kg</td>
                      <td class="text-nowrap" scope="row">22:30</td>
                  </tr>
                  <tr>
                      <td class="text-nowrap" scope="row">-</td>
                      <td class="text-nowrap" scope="row">-</td>
                      <td class="text-nowrap" scope="row">-</td>
                      <td class="text-nowrap" scope="row"><strong>TOTAL</strong></td>
                      <td class="text-nowrap" scope="row">11,5kg</td>
                      <td class="text-nowrap" scope="row">-</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  