<!-- <nb-card>
    <nb-card-header>Resgatar Alimento</nb-card-header>
    <nb-card-body>
      <div>test 1</div>
      <div>test 2</div>
    </nb-card-body>
</nb-card> -->

<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <h5 class="grid-h">Resgatar Alimento</h5>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th> Nome do Restaurante</th>
                  <th> Endereço <small>(como chegar?)</small></th>
                  <th> Tipo de Alimento</th>
                  <th> Descrição</th>
                  <th> Qtd. Aproximada</th>
                  <th> Limite para Retirada</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td rowspan="2" class="text-nowrap" scope="row">mock1</td>
                      <td rowspan="2" class="text-nowrap" scope="row">mock1</td>
                      <td class="text-nowrap" scope="row">mock1</td>
                      <td class="text-nowrap" scope="row">mock1</td>
                      <td class="text-nowrap" scope="row">mock1</td>
                      <td class="text-nowrap" scope="row">mock1</td>
                  </tr>
          
                  <tr>
                      <td class="text-nowrap" scope="row">mock2</td>
                      <td class="text-nowrap" scope="row">mock2</td>
                      <td class="text-nowrap" scope="row">mock2</td>
                      <td class="text-nowrap" scope="row">mock2</td>
                  </tr>

                  <tr>
                      <td class="text-nowrap" scope="row">-</td>
                      <td class="text-nowrap" scope="row">-</td>
                      <td class="text-nowrap" scope="row">-</td>
                      <td class="text-nowrap" scope="row"><strong>TOTAL</strong></td>
                      <td class="text-nowrap" scope="row">5 kg</td>
                      <td class="text-nowrap" scope="row">-</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  