<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Registre sua ONG</nb-card-header>
            <nb-card-body>
                <div class="input-group">
                    <span class="input-group-addon success">:)</span>
                    <input type="text" placeholder="Nome da ONG" class="form-control"/>
                </div>

                <div class="input-group">
                    <span class="input-group-addon success">@</span>
                    <input type="text" class="form-control" placeholder="E-mail"/>
                </div>

                <div class="input-group">
                    <span class="input-group-addon success">?</span>
                    <input type="password" placeholder="Senha" class="form-control"/>
                </div>

                <div class="input-group">
                    <span class="input-group-addon success">?</span>
                    <input type="password" placeholder="Repetir a Senha" class="form-control"/>
                </div>

                <div class="input-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon success">🏠</span>
                        <input type="text" placeholder="Rua" class="form-control"/>
                        <input type="text" placeholder="Número" class="form-control"/>
                    </div>
                    <div class="input-group input-group-sm">
                        <input type="text" placeholder="Bairro" class="form-control"/>
                        <input type="text" placeholder="Cidade" class="form-control"/>
                        <input type="text" placeholder="Estado" class="form-control"/>
                        <input type="text" placeholder="CEP" class="form-control"/>
                    </div>
                </div>

                <div class="input-group">
                    <button type="button" class="btn btn-success">
                        Confirmar
                    </button>
                </div>               
            </nb-card-body>
        </nb-card>
    </div>
</div>
      