<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <h5 class="grid-h">Alimentos Disponibilizados</h5>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <!-- <th> Endereço <small>(como chegar?)</small></th> -->
                  <th> Tipo de Alimento</th>
                  <th> Descrição</th>
                  <th> Qtd. Aproximada</th>
                  <th> Data de Saída</th>
                  <th> ONG</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="text-nowrap" scope="row">Legume</td>
                      <td class="text-nowrap" scope="row">Batata tipo inglesa</td>
                      <td class="text-nowrap" scope="row">12 kg</td>
                      <td class="text-nowrap" scope="row">-</td>
                      <td class="text-nowrap" scope="row" style="color: rgb(9, 170, 9); font-weight: bold;">
                        Disponível
                      </td>
                  </tr>

                  <tr>
                      <td class="text-nowrap" scope="row">Arroz</td>
                      <td class="text-nowrap" scope="row">Integral</td>
                      <td class="text-nowrap" scope="row">3 kg</td>
                      <td class="text-nowrap" scope="row">01/11/2018 17:37</td>
                      <td class="text-nowrap" scope="row">Alvorada</td>
                  </tr>
          
                  <tr>
                      <td class="text-nowrap" scope="row">Feijão</td>
                      <td class="text-nowrap" scope="row">Mulatinho</td>
                      <td class="text-nowrap" scope="row">5 kg</td>
                      <td class="text-nowrap" scope="row">02/11/2018 17:40</td>
                      <td class="text-nowrap" scope="row">Amigos do Bem</td>
                  </tr>

                  <tr>
                      <td class="text-nowrap" scope="row">Arroz</td>
                      <td class="text-nowrap" scope="row">Parborizado</td>
                      <td class="text-nowrap" scope="row">4 kg</td>
                      <td class="text-nowrap" scope="row">03/11/2018 16:56</td>
                      <td class="text-nowrap" scope="row">Apae</td>
                  </tr>

                  <tr>
                      <td class="text-nowrap" scope="row">Arroz</td>
                      <td class="text-nowrap" scope="row">Branco tipo 1</td>
                      <td class="text-nowrap" scope="row">6 kg</td>
                      <td class="text-nowrap" scope="row">03/11/2018 17:12</td>
                      <td class="text-nowrap" scope="row">ASID Brasil</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  